{{template "base" .}} {{define "content"}}
<tr colspan="3">
  <td
    colspan="3"
    style="
      line-height: 100%;
      border-spacing: 0;
      border-collapse: collapse;
    "
  >
    <table
      style="
        line-height: 100%;
        border-spacing: 0;
        width: 100%;
        max-width: 100%;
        background-color: #ffffff;
        border: 1px solid #ebebeb;
        border-radius: 4px !important;
        box-shadow: 0 0 0.2rem #ebebeb;
        border-top: none;
      "
    >
      <tbody>
        <tr>
          <td
            style="
              line-height: 100%;
              border-spacing: 0;
              height: 9px;
              background: #0097b2;
              border-radius: 4px 0px 0px 0px;
              border-collapse: collapse;
            "
          ></td>
        </tr>
        <tr colspan="3">
          <td
            style="
              line-height: 100%;
              border-spacing: 0;
              padding-bottom: 30px;
              border-collapse: collapse;
            "
          ></td>
        </tr>
        <tr colspan="3">
          <td
            colspan="3"
            style="
              line-height: 100%;
              border-spacing: 0;
              border-collapse: collapse;
            "
          >
            <img
              src="{{.LogoUrl}}"
              style="
                border: 0;
                line-height: 100%;
                outline: none;
                text-decoration: none;
                width: 157.14px !important;
                height: 30px;
              "
              class="email-logo"
              data-bit="iit"
              alt="logo"
            />
          </td>
        </tr>
        <tr colspan="3">
          <td
            colspan="3"
            style="
              line-height: 100%;
              border-spacing: 0;
              padding-bottom: 36px;
              border-collapse: collapse;
            "
          ></td>
        </tr>
        <tr colspan="3">
          <td
            colspan="1"
            style="
              line-height: 100%;
              border-spacing: 0;
              padding-bottom: 20px;
              border-collapse: collapse;
            "
          ></td>
        </tr>
        <tr colspan="3">
          <td
            colspan="3"
            style="
              border-spacing: 0;
              margin: 0;
              padding: 0;
              padding-bottom: 3px;
              width: 87.5%;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              color: #000000;
              font-family: 'Inter', sans-serif;
              border-collapse: collapse;
            "
            class="email-hi"
          >
            Dear <span style="color: #12131a">{{.Name}},</span>
          </td>
        </tr>
        <tr colspan="3">
          <td
            colspan="3"
            style="
              border-spacing: 0;
              margin: 0;
              padding: 0;
              padding-bottom: 3px;
              width: 87.5%;
              font-size: 16px;
              font-style: normal;
              font-weight: 500;
              line-height: 150%;
              color: #000000;
              font-family: 'Inter', sans-serif;
              border-collapse: collapse;
            "
            class="email-content"
          >
            Thank you for initiating the registration process. To
            proceed further, we kindly request that you enter the
            verification code provided below:
            <div
              style="
                padding-top: 84px;
                padding-bottom: 65px;
                display: flex;
                align-content: center;
                justify-content: center;
              "
            >
              <h1 style="font-size: 68px; weight: 700">{{.Token}}</h1>
            </div>
            <hr style="border: 1px solid #e7e9ea" />
            <div style="display: flex">
              <span
                style="text-align: center; width: 100%; color: #7b8794"
                >This message was sent to
                <span style="font-weight: 700; font-size: 14px"
                  >{{.Email}}</span
                >
                and intended for
                <span style="font-weight: 700; font-size: 14px"
                  >{{.Name}}</span
                ></span
              >
            </div>
          </td>
        </tr>

        <tr colspan="3">
          <td
            colspan="3"
            style="
              line-height: 100%;
              border-spacing: 0;
              padding-bottom: 44px;
              border-collapse: collapse;
            "
          ></td>
        </tr>
      </tbody>
    </table>
  </td>
</tr>
{{end}}